---
import { getCollection, getEntry } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import { Image } from "astro:assets";

const { slug } = Astro.params;
if (!slug) throw new Error("Slug not found");
const post = await getEntry("realizations", slug);

if (!post) throw new Error("No post found for this slug");
const { Content } = await post.render();

// Generate static pages
export async function getStaticPaths() {
  const posts = await getCollection("realizations");
  return posts.map((post) => ({ params: { slug: post.slug } }));
}

const images = await Astro.glob("/src/assets/images/realizations/**/*").then(
  (files) => {
    return files.map((file) => file.default);
  }
);

const currentImages = images.filter((image) => image.src.includes(`/${slug}/`));

const mainImage = currentImages.find((image) => image.src.includes("/mainImage"));
const subImages = currentImages.filter((image) => !image.src.includes("/mainImage")); 

---

<MainLayout title={post.data.title}>
  <div class="relative overflow-hidden" style="height: 400px;">
    <Image
      src={mainImage}
      width={1000}
      height={1000}
      class="absolute inset-0 w-full h-full object-cover my-10"
      alt="Głowne zdjęcie"
      format="webp"
    />
  </div>
  <h1
    class="font-black uppercase text-3xl tracking-wide md:text-4xl xl:text-5xl my-10 text-center"
  >
    {post.data.title}
  </h1>
  <p class="mb-10"><Content /></p>
  {
    subImages.length > 0 && (
      <div class="grid grid-cols-1 md:grid-cols-2 gap-10 mt-8">
        {subImages.map((image) => (
          <Image
            width={800}
            height={800}
            src={image}
            class="w-full h-full object-cover"
            alt="Zdjęcie"
            format="webp"
          />
        ))}
      </div>
    )
  }
</MainLayout>
