---
import HeadingTwo from "./ui/HeadingTwo.astro";
import HeadingThree from "./ui/HeadingThree.astro";
import Section from "./ui/Section.astro";

import { Image } from "astro:assets";
import measurement from "../../public/img/svg/measurement.svg";
import project from "../../public/img/svg/project.svg";
import question from "../../public/img/svg/question.svg";
import money from "../../public/img/svg/money.svg";
import contact from "../../public/img/svg/contact.svg";
---

<Section id="how-we-work">
  <div class="relative container">
    <HeadingTwo h2="Jak pracujemy" />

    <div class="grid grid-rows-4 grid-cols-1 md:grid-cols-6 md:grid-rows-2">
      <div
        class="md:row-end-2 md:col-span-3 lg:col-span-2 mb-6 md:mr-10 md:mb-10"
      >
        <Image height="70" width="70" src={contact} alt="" />
        <HeadingThree h3="Kontakt" />
        <p>
          Skontaktuj się z nami przez telefon, SMS, WhatsApp, media
          społecznościowe lub formularz na stronie. Konsultacja i wycena są
          bezpłatne!
        </p>
      </div>

      <div class="md:row-end-2 md:col-span-3 lg:col-span-2 mb-6 md:mb-10">
        <Image height="70" width="70" src={money} alt="" />
        <HeadingThree h3="Wstępna wycena" />
        <p>
          Po uzyskaniu podstawowych informacji, przygotujemy wstępną wycenę.
          Posiadanie projektu lub odręcznego rysunku pomieszczenia ułatwi
          wycenę.
        </p>
      </div>

      <div
        class="md:row-end-3 md:col-span-3 lg:col-span-2 mb-6 md:mb-0 md:mr-10"
      >
        <Image height="70" width="70" src={measurement} alt="" />
        <HeadingThree h3="Pomiar i konsultacja" />
        <p>
          Po akceptacji wstępnej wyceny, umówimy się na pomiary i wybór
          materiałów. Przygotujemy projekt z wizualizacją 3D, a także
          fotorealistyczną wizualizację, jeśli Państwo sobie życzą.
        </p>
      </div>

      <div class="md:row-end-3 md:col-span-3 lg:col-span-2">
        <Image height="70" width="70" src={project} alt="" />
        <HeadingThree h3="Oferta" />
        <p>
          Po pomiarach i konsultacji przygotujemy szczegółową wycenę końcową z
          wykazem użytych materiałów. Przekażemy ją do akceptacji i ewentualnych
          zmian.
        </p>
      </div>
    </div>

    <a
      href="how-we-work"
      class="bg-main px-6 py-4 rounded-md border-2 border-second w-full block text-center cursor-pointer md:w-auto md:inline-block hover:bg-white transition-all duration-200 md:mt-10"
      >Czytaj Całość</a
    >

    <span
      class="hidden lg:block absolute font-black text-6xl text-main right-0 top-0 -z-10"
    >
      <Image src={question} alt="?" />
    </span>
  </div>
</Section>
